.flexbox {
    display: flex;

}
.sidebar {
    background-color: #f1f1f1;
    position: static;
    height: 100%;
    overflow-x: hidden;

}
/* style the links inside the sidebar */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
}

/* add a hover effect to the links */
.sidebar a:hover {
    background-color: #555;
    color: white;
}

.btn p {
    margin: 0;
}

.alert {
    margin: 10px;
}

