<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Document</title>
  <style>
    .error {
      color: red;
      font-size: 0.8rem;
    }
    .btn-box {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
    #form2 {
      display: none;
    }
    #submit {
      display: none;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/}">Bambi Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Overview</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/orders}">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/reports}">Reports & Analytics</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="nav-link btn mr-3" th:data-toggle="'modal'" th:data-target="'#stockNotificationModal'"
                type="button">
          Stock Alert <i class="fa-solid fa-bell" th:style="${#lists.isEmpty(lowStockProducts)} ? '' : 'color: red;'"></i>
        </button>
      </li>
      <li class="nav-item">
        <form  th:action="@{/logout}" method="post">
          <button class="btn btn-primary" type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mt-4">
        <div class="card-body">
          <form th:action="@{/products/new}" th:object="${product}" enctype="multipart/form-data" method="POST">
            <div class="progress" style="height: 20px;">
              <div id="progress" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div id="form1">
              <div class="form-group">
                <label>Product Brand</label>
                <input type="text" th:field="*{productBrand}" name="product_brand" placeholder="Enter Brand Name" class="form-control">
                <p class="error" th:if="${#fields.hasErrors('productBrand')}" th:errors="*{productBrand}"></p>
              </div>
                <div class="form-group">
                  <label>Product Name</label>
                  <input type="text" th:field="*{productName}" name="product_name" placeholder="Enter Product Name" class="form-control">
                  <p class="error" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></p>
                </div>

                <div class="form-group">
                  <label>Product Price</label>
                  <input type="number" th:field="*{productPrice}" name="product_price" placeholder="Enter Product Price" class="form-control">
                  <p class="error" th:if="${#fields.hasErrors('productPrice')}" th:errors="*{productPrice}"></p>
                </div>

                <div class="form-group">
                  <label>Product Gender:</label>
                  <select name="product_category" id="product_gender" th:field="*{productGender}" class="form-control">
                    <option value="" selected disabled>Select a Gender</option>
                    <option value="Women">Women</option>
                    <option value="Men">Men</option>
                  </select>
                  <p class="error" th:if="${#fields.hasErrors('productGender')}" th:errors="*{productGender}"></p>
                </div>


                <div class="form-group">
                  <label>Product Category:</label>
                  <select name="product_category" id="product_category" th:field="*{productCategory}" class="form-control">
                    <option value="Trainers">Trainers</option>
                    <option value="Loafers">Loafers</option>
                    <option value="Boots">Boots</option>
                    <option value="Heels">Heels</option>
                    <option value="Dress Shoes">Dress Shoes</option>
                    <option value="Heeled Sandals">Heeled Sandals</option>
                    <option value="Brogues">Brogues</option>
                  </select>
                  <p class="error" th:if="${#fields.hasErrors('productCategory')}" th:errors="*{productCategory}"></p>
                </div>

                <div class="form-group">
                  <label>Product Description:</label><br>
                  <textarea th:field="*{productDescription}" id="product_description" name="product_description" rows="4" class="form-control"></textarea>
                  <p class="error" th:if="${#fields.hasErrors('productDescription')}" th:errors="*{productDescription}"></p>
                </div>

                <div class="form-group">
                  <label>Product Image:</label>
                  <input type="hidden" th:field="*{productImage}" id="filename" name="product_image" placeholder="Enter Product Image" class="form-control">
                  <input type="file" id="file" name="product_image" placeholder="Enter Product Image"
                         onchange="getName()">
                  <p class="error" th:if="${#fields.hasErrors('productImage')}" th:errors="*{productImage}"></p>
                </div>

            </div>
            <div id="form2">
              <div class="form-group">
                <h3>Setting Stock Amount For Each Size.</h3>
                <h5>(If Stock is blank it's set to 0!)</h5>
                <div class="row">
                  <div class="col-md-4">
                    <button class="form-control" type="button" onclick="remove()">Remove Values</button>
                  </div>
                  <div class="col-md-4">
                    <button class="form-control" type="button" onclick="set100()">Set all To 100</button>
                  </div>
                  <div class="col-md-4">
                    <button class="form-control" type="button" onclick="set200()">Set all To 200</button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>4</label>
                    <input type="number" value="" name="size-4" class="size">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>5</label>
                    <input type="number" value="" name="size-5" class="size">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>6</label>
                    <input type="number" value="" name="size-6" class="size">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>7</label>
                    <input type="number" value="" name="size-7" class="size">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>8</label>
                    <input type="number" value="" name="size-8" class="size">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>9</label>
                    <input type="number" value="" name="size-9" class="size">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>10</label>
                    <input type="number" value="" name="size-10" class="size">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>11</label>
                    <input type="number" value="" name="size-11" class="size">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>12</label>
                    <input type="number" value="" name="size-12" class="size">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>13</label>
                    <input type="number" value="" name="size-13" class="size">
                  </div>
                </div>
              </div>






            </div>
            <div class="btn-box">
              <button type="button" id="back1" class="btn btn-secondary">Back</button>
              <button type="button" id="next1" class="btn btn-primary">Next</button>
              <button type="submit" id="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // Initialize form navigation
    $("#form2").hide();
    $("#next1").click(function() {
      $("#form1").hide();
      $("#form2").show();
      $("#submit").show();
      $("#progress").width("50%");
    });
    $("#back1").click(function() {
      $("#form2").hide();
      $("#form1").show();
      $("#submit").hide();
      $("#progress").width("0%");
    });
  });

  // Function to set all size inputs to 100
  function set100() {
    $(".size").val(100);
  }

  // Function to set all size inputs to 200
  function set200() {
    $(".size").val(200);
  }

  // Function to remove values from all size inputs
  function remove() {
    $(".size").val("");
  }

  // Function to get the filename of the uploaded image
  function getName() {
    var fullPath = document.getElementById("file").value;
    var filename = fullPath.replace(/^.*[\\\/]/, "");
    document.getElementById("filename").value = filename;
  }
</script>
<!--Inventory System Modal-->
      <div class="modal fade" th:id="'stockNotificationModal'" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Stock Notification</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>The following products have low stock or are out of stock</p>
              <p>Select a product to view stock:</p>
              <ul class="list-group">
                <li class="list-group-item" th:each="p : ${lowStockProducts}">
                  <a th:href="@{/product/stock/{id}(id=${p.id})}" th:text="${p.productName}"></a>
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
