<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Update Product</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <!-- jQuery and Bootstrap JS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Bambi Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Overview</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/orders}">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/reports}">Reports & Analytics</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="nav-link btn mr-3" th:data-toggle="'modal'" th:data-target="'#stockNotificationModal'"
                        type="button">
                    Stock Alert <i class="fa-solid fa-bell" th:style="${#lists.isEmpty(lowStockProducts)} ? '' : 'color: red;'"></i>
                </button>
            </li>
            <li class="nav-item">
                <form  th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center my-3">
        <div class="col-lg-10 col-md-8">
            <div class="card" id="form-container">
                <div class="card-body">
                    <form th:action="@{/product/edit/{id}(id=${product.id})}" th:object="${product}" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="brand">Product Brand</label>
                            <input type="text" th:field="*{productBrand}" id="brand" name="product_brand" class="form-control">
                            <p class="error" th:if="${#fields.hasErrors('productBrand')}" th:errors="*{productBrand}"></p>
                        </div>

                        <div class="form-group">
                            <label for="name">Product Name</label>
                            <input type="text" th:field="*{productName}" id="name" name="product_name" class="form-control">
                            <p class="error" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></p>
                        </div>
                        <div class="form-group">
                            <label for="price">Product Price (£)</label>
                            <input type="number" th:field="*{productPrice}" id="price" name="product_price" placeholder="Product Price (£)" class="form-control">
                            <p class="error" th:if="${#fields.hasErrors('productPrice')}" th:errors="*{productPrice}"></p>
                        </div>

                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select name="product_gender" id="gender" class="form-control" th:field="*{productGender}">
                                <option value="" selected disabled>Select a Gender</option>
                                <option value="Women">Women</option>
                                <option value="Men">Men</option>
                            </select>
                            <p class="error" th:if="${#fields.hasErrors('productGender')}" th:errors="*{productGender}"></p>
                        </div>

                        <div class="form-group">
                            <label for="category">Product Category</label>
                            <select name="product_category" id="category" class="form-control" th:field="*{productCategory}">
                                <option value="" selected disabled>Select a Category</option>
                                <option value="Trainers">Trainers</option>
                                <option value="Loafers">Loafers</option>
                                <option value="Boots">Boots</option>
                                <option value="Heels">Heels</option>
                                <option value="Dress Shoes">Dress Shoes</option>
                                <option value="Heeled Sandals">Heeled Sandals</option>
                                <option value="Brogues">Brogues</option>
                            </select>
                            <p class="error" th:if="${#fields.hasErrors('productCategory')}" th:errors="*{productCategory}"></p>
                        </div>

                        <div class="form-group">
                            <label for="description">Product Description</label>
                            <textarea th:field="*{productDescription}" rows="4" cols="75" id="description" name="product_description" class="form-control"></textarea>
                            <p class="error" th:if="${#fields.hasErrors('productDescription')}" th:errors="*{productDescription}"></p>
                        </div>

                        <div class="form-group">
                            <label for="file">Upload Product Image</label>
                            <input type="hidden" th:field="*{productImage}" id="filename" name="product_image" placeholder="Enter Product Image">
                            <input type="file" id="file" name="product_image" class="form-control" onchange="getName()">
                            <p class="error" th:if="${#fields.hasErrors('productImage')}" th:errors="*{productImage}"></p>
                        </div>

                        <p>This is the current image in the database</p>
                        <p th:text="${product.productImage}"></p>
                        <img th:src="@{${product.logoImagePath}}" height="80px" width="80px">

                        <div class="mb-4 mt-5 text-center">
                            <button type="submit" class="btn btn-primary  border-0" id="submit"><p class="submit">Submit</p></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Inventory System Modal-->
            <div class="modal fade" th:id="'stockNotificationModal'" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Stock Notification</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>The following products have low stock or are out of stock</p>
                            <p>Select a product to view stock:</p>
                            <ul class="list-group">
                                <li class="list-group-item" th:each="p : ${lowStockProducts}">
                                    <a th:href="@{/product/stock/{id}(id=${p.id})}" th:text="${p.productName}"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
