<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Inventory Management System</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" th:href="@{/custom.css}">
  <script type="text/javascript" th:href="@{/custom.js}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/}">Bambi Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/orders}">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/reports}">Reports & Analytics</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="nav-link btn mr-3" th:data-toggle="'modal'" th:data-target="'#stockNotificationModal'"
                type="button">
          Stock Alert <i class="fa-solid fa-bell" th:style="${#lists.isEmpty(lowStockProducts)} ? '' : 'color: red;'"></i>
        </button>
      </li>
      <li class="nav-item">
        <form  th:action="@{/logout}" method="post">
          <button class="btn btn-primary" type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-4">
  <h1 class="text-center mb-4">Product Inventory</h1>
  <div th:if="${add}" class="alert alert-success d-inline-flex align-items-center mb-3" role="alert">
    <p class="m-0 d-inline-block" th:text="${add}"></p>
  </div>

  <div th:if="${update}" class="alert alert-success d-inline-flex align-items-center mb-3" role="alert">
    <p class="m-0 d-inline-block" th:text="${update}"></p>
  </div>

  <div th:if="${deleted}" class="alert alert-success d-inline-flex align-items-center mb-3" role="alert">
    <p class="m-0 d-inline-block" th:text="${deleted}"></p>
  </div>

  <div class="row">
    <div class="col-lg-12" style="text-align: center;">
      <form action="/products" method="get" class="form-inline mb-3">
        <input type="text" name="keyword" class="form-control mr-2" placeholder="Search..." th:value="${keyword}">
        <button  type="submit" class="btn btn-secondary">Search <i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <div class="mb-3 ml-auto">
        <a th:href="@{/products/new}" class="btn btn-primary">Add Product</a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered" id="product-table" style="width: 100%;">
      <thead class="table-primary">
      <tr>
        <th style="width: 15%;">
          Brand
          <a th:href="@{'/products/' + ${currentPage} + '?sortField=productBrand&sortDir=' + ${reverseSortDir}}">
            <i class="fa-solid fa-sort"></i>
          </a>
        </th>
        <th style="width: 20%;">
          Name
          <a th:href="@{'/products/' + ${currentPage} + '?sortField=productName&sortDir=' + ${reverseSortDir}}">
            <i class="fa-solid fa-sort"></i>
          </a>
        </th>
        <th style="width: 10%;">
          Price
          <a th:href="@{'/products/' + ${currentPage} + '?sortField=productPrice&sortDir=' + ${reverseSortDir}}">
            <i class="fa-solid fa-sort"></i>
          </a>
        </th>
        <th style="width: 10%;">
          Gender
          <a th:href="@{'/products/' + ${currentPage} + '?sortField=productGender&sortDir=' + ${reverseSortDir}}">
            <i class="fa-solid fa-sort"></i>
          </a>
        </th>
        <th style="width: 10%;">
          Category
          <a th:href="@{'/products/' + ${currentPage} + '?sortField=productCategory&sortDir=' + ${reverseSortDir}}">
            <i class="fa-solid fa-sort"></i>
          </a>
        </th>
        <th style="width: 20%;">Image</th>
        <th style="width: 10%;"></th>
        <th style="width: 5%;">Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="product: ${listProducts} " data-stock-level="${product.stockLevel}">
        <td th:text="${product.productBrand}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.productPrice}"></td>
        <td th:text="${product.productGender}"></td>
        <td th:text="${product.productCategory}"></td>
        <td style="text-align: center;"><img th:src="${product.logoImagePath}" width="110px" height="120px" /></td>
        <td>
          <p>
            <a th:href="@{/product/stock/{id}(id=${product.id})}"><button class="btn btn-outline-info">
              Stock <i class="fa-solid fa-magnifying-glass-chart"></i></button>
            </a>
          </p>
        </td>
        <td>
          <a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-block btn-secondary">
            Update
          </a>
          <a th:href="@{/product/delete/{id}(id=${product.id})}" class="btn btn-block btn-danger">
            Delete
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

    <div th:if="${totalPages > 1}">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" th:if="${currentPage > 1}" th:href="@{${'/products/' + (currentPage - 1)}(sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword})}">
            Previous
          </a>
          <span class="page-link" th:unless="${currentPage > 1}">Previous</span>
        </li>
        <li class="page-item" th:classappend="${currentPage == page ? 'active' : ''}" th:each="page: ${#numbers.sequence(1, totalPages)}">
          <a class="page-link" th:if="${currentPage != page}" th:href="@{${'/products/' + page}(sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword})}">
            [[${page}]]
          </a>
          <span class="page-link" th:unless="${currentPage != page}">[[${page}]]</span>
        </li>
        <li class="page-item">
          <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{${'/products/' + (currentPage + 1)}(sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword})}">
            Next
          </a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer class="bg-light ">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>&copy; 2023 Bambi Admin. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!--Inventory System Modal-->
      <div class="modal fade" th:id="'stockNotificationModal'" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Stock Notification</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>The following products have low stock or are out of stock</p>
              <p>Select a product to view stock:</p>
              <ul class="list-group">
                <li class="list-group-item" th:each="p : ${lowStockProducts}">
                  <a th:href="@{/product/stock/{id}(id=${p.id})}" th:text="${p.productName}"></a>
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>