<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
</head>
    <body>
        <h1>This is a reports page</h1>
        <a th:href="@{/orders/export/prev-week}">Export Weekly Orders To PDF</a><br>
        <a th:href="@{/orders/export/prev-month}" target="_blank">Export Monthly Orders to PDF</a><br>
        <a th:href="@{/orders/export/total-year-orders}" target="_blank">Export All Current Year Orders to PDF</a><br>
<!--        <a th:href="@{/orders/export/stock-report}" target="_blank">Export All Current Items That Are Low / Out of Stock</a><br>-->
    </body>
</html>
